.itemImage{
    border: 2px solid black;
    border-radius: 20px;
    /* position:absolute; */
    /*z-index: 1; */
     
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.countContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.counterItems{
    display: flex;
    margin: 1em;
    }


   .counterbuttons{
    outline: none;
    /* width: 2em; */
    background: rgb(196,196,196);
    flex-wrap: wrap;
    padding: 1em 2em;
   font-weight: bold;
    }