<div class="checkoutContainer">
    <div class="heading">
      Your Shopping Cart 
    </div>
    <div class="cartSummary">
      <div class="tableContainer">
        <table>

          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
                <tbody *ngFor="let category of categories">
                  <tr key={category}>
                    <td
                      colSpan="4"
                      class="categoryHeading"
                    >
                      {{category.charAt(0).toUpperCase() + category.slice(1)}}
                    </td>
                  </tr>
                        <tr *ngFor="let item of cartDetails[category]">
                          <td>{{item.name}}</td>
                          <td>{{item.price}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{item.total}}</td>
                        </tr>
                      
                  
                </tbody>

        </table>
      </div>

    </div>
  </div>

  <button 
  class="continueShoppingBtn" 
  (click)="continueShopping()"
  [routerLink]="['/home']" 
  >
    Continue Shopping
  </button>
